*.orig
*.bak
.gradle
/build/
/docker-compose.yml
# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Java
# Compiled class file
*.class

# Log file
*.log
logs/


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# eclipse
.classpath
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

# IntelliJ
# User-specific stuff:
.idea

## File-based project format:
*.iws
*.iml

## Plugin-specific files:

# IntelliJ
out/
